body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}

.button,
.popup button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin: 20px;
}

.button:hover {
    background-color: #45a049;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

.popup {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    z-index: 10000;
    display: none;
}

.popup input[type="text"],
.popup input[type="number"],
.popup input[type="password"],
.popup input[type="date"],
.popup select {
    width: 100px;
}

.popup .button-container {
    text-align: center;
}

.main {
    width: 35%;
    margin: 100px auto;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}
.add_main {
    margin: auto;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}
.table {
    width: 80%;
    margin: 100px auto;
    border-radius: 4px;
    background: #ffffff;
}
.item {
    padding: 20px;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
table {
    border-spacing: 0;
    width: 100%;
}
tr {
    text-align: center;
}
th {
    padding: 10px;
}
table tbody tr:nth-child(odd){
    background-color: #eee
}
table thead {
    background-color: blue;
    color: white;
}
table thead th:first-child {
    border-radius: 5px 0 0 0;
    border: 1px solid blue;
}
table thead th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid blue;
}
table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

body {
    background: #c0c0aa;
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);
    background: linear-gradient(to right, #1cefff, #c0c0aa);
}

#form {
    margin-top: 100px;
    border-radius: 30px;
    background: #ffffff;
}

.admin {
    margin: 100px auto;
    border-radius: 30px;
    width: 40%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.admin .button {
    margin: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: #4CAF50;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
select {
    width: 100px;
}

.back {
    display: flex;
    justify-content: center;
}

.form {
    width: 50%;
    margin: 100px auto;
    border-radius: 30px;
    background: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}